// Override Bootstrap







// Custom

$header-bar-height: 40px;
$main-width: 1000px;
$main-min-height: 820px;
$main-margin-top: 10px;
$sidebar-width: 350px;
$content-margin-right: 10px;
$header-logo-width: auto;
$header-logo-height: 50px;

