# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

**/.idea/*
syh_mall/.idea/*.xml

player_app/.idea/*.xml
player_app/node_modules/
player_app/bower_components/
player_app/www/assets/css/*.*
player_app/www/assets/js/*.*
player_app/www/index.htm
player_app/www/index.thtml
player_app/*DS_Store
player_app/www/**/*.htm
player_app/www/rev-manifest.json
player_app/www/assets/js-src
player_app/www/assets/css-src
player_app/logs/

player_web/.idea/*.xml
player_web/node_modules/
player_web/bower_components/
player_web/www/assets/css/*.*
player_web/www/assets/js/*.*
player_web/www/index.htm
player_web/www/index.thtml
player_web/*DS_Store
player_web/www/**/*.htm
player_web/www/rev-manifest.json
player_web/www/assets/js-src
player_web/www/assets/css-src
player_web/logs/

Merchant_management/.idea/*.xml
Merchant_management/node_modules/
Merchant_management/bower_components/
Merchant_management/www/assets/css/*.*
Merchant_management/www/assets/js/*.*
Merchant_management/www/index.htm
Merchant_management/www/index.thtml
Merchant_management/*DS_Store
Merchant_management/www/**/*.htm
Merchant_management/www/rev-manifest.json
Merchant_management/www/assets/js-src
Merchant_management/www/assets/css-src
Merchant_management/logs/

admin_platform/.idea/*.xml
admin_platform/node_modules/
admin_platform/bower_components/
admin_platform/www/assets/css/*.*
admin_platform/www/assets/js/*.*
admin_platform/www/index.htm
admin_platform/www/index.thtml
admin_platform/*DS_Store
admin_platform/www/**/*.htm
admin_platform/www/rev-manifest.json
admin_platform/www/assets/js-src
admin_platform/www/assets/css-src
admin_platform/logs/

syh_mall/.settings/*
syh_mall/target/*
syh_mall/logs/*

*.zip
