//.sel {width: 180px;}
.cz {color: #0000AA; padding-right: 5px;}
.price {color: #FF0000;}
h2 {font-size: 18px;margin-top:30px;margin-bottom:40px;color:#8e8f92;}
.table > tbody > tr > td{
  //padding: 20px 5px;
  vertical-align: middle;
  border-bottom: 1px solid #dddddd;
}

.table > tbody > tr > td > div{
  display:inline-block;
  vertical-align: middle;
}

.table > tbody > tr > td > div > p{
  margin: 0;
  padding: 5px;
}



