<div class="col-xs-10 col-xs-offset-1">
    <table class="table table-bordered text-center">
        <thead>
        <tr>
            <td width="30%">增值服务</td>
            <td width="20%">状态</td>
            <td width="20%">费用（元／月）</td>
            <td width="30%">操作</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="sevice in vm.services">
            <td><span ng-bind="sevice.name"></span></td>
            <td><span ng-bind="sevice.status"></span></td>
            <td>
                <div ng-hide="sevice.isEdit"><span ng-bind="sevice.cost"></span></div>
                <div ng-show="sevice.isEdit">
                    <form action="" class="form-inline">
                        <div class="form-group">
                            <label class="sr-only">Email address</label>
                            <input style="width: 80px" type="text" class="form-control" ng-model="sevice.tmp_cost">
                        </div>
                        <a ><i class="fa fa-check" aria-hidden="true"></i></a>
                        <a ng-click="sevice.isEdit = false"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </form>
                </div>
            </td>
            <td>
                <a href="" class="link-a" ng-click="vm.editCost(sevice)">编辑</a>
                <a href="" class="link-a" >停用</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="editCost.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">修改费用</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form action=""  class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-2 col-xs-offset-1 control-label">增值服务</label>
                <div class="col-xs-6">
                    <p class="form-control-static">{{$ctrl.service.name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="cost" class="col-xs-2 col-xs-offset-1 control-label">状态</label>
                <div class="col-xs-6">
                    <p class="form-control-static">{{$ctrl.service.status}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="cost" class="col-xs-2 col-xs-offset-1 control-label">费用</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="cost" ng-model="$ctrl.cost">
                </div>
                <div class="col-xs-3">（元／月）</div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">保存</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">取消</button>
    </div>
</script>
