/***
General typography
***/

textarea {
  width: 100%;
  resize: none;
}

/* Links */

a {
  text-shadow: none;
  color: $link-color;

  &:hover {
    color: $link-hover-color;
    cursor: pointer;
  }

  &:focus,
  &:hover,
  &:active {
    outline: 0;
  }
}
