.aui-searchbar-cancel{
  font-size: 0.7rem;
  color: #666666;
  margin-right: 0;
  width: 2.2rem;
  height: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.aaa{
  margin-right: -2.2rem;
}