// Override Bootstrap
body{font-family: 微软雅黑, "Microsoft YaHei", Arial, "Open Sans", sans-serif;font-size: 14px;font-weight: 400}
$brand-primary: #123574;
$brand-info: #1899ca;
$body-bg: #fff;
$link-color: #666;
$link-hover-color: #000;
$panel-bg: #fff;
$text-color : #666;
$line-height-base : 1.6;
//$pagination-border: rgba(18, 122, 151, 0.18);
//$pagination-bg: rgba(18, 122, 151, 0.09);
//$pagination-hover-bg: rgba(18, 122, 151, 0.05);
//$pagination-hover-border: rgba(18, 122, 151, 0.11);



// Custom
$primary-link-color:                #65A0D0 !default;
$header_bg: $brand-primary;
$header_color: #fff;


