// Override Bootstrap

$icon-font-path: '../fonts/';
$border-radius-large: 5px;
$border-radius-small: 4px;

$link-hover-decoration: none;
$icon-font-path: '../fonts/';
$link-hover-decoration: none;
$panel-border-radius: none;
$panel-body-padding: 20px;
$panel-heading-padding: 20px;
$panel-border-radius: 0;

//== Tabs
$nav-tabs-border-color:                     #eee !default;
$nav-tabs-active-link-hover-border-color:   #eee !default;
$nav-tabs-justified-link-border-color:            #eee !default;

$nav-tabs-link-hover-border-color:          #eee !default;

$nav-tabs-active-link-hover-bg:             #fff !default;
$nav-tabs-active-link-hover-color:          #111 !default;

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     #fff !default;


// Custom

$theme-style: 						'square' !default;
$theme-type:  						'default' !default;
$general-img-path:                  '../img/' !default;
$icon-size-normal:					14px !default;


$pagination-active-bg:                #2599CF !default;
$pagination-active-border:             #2599CF !default;


//list-group
$list-group-bg:#f9f9f9;
//** Background color of single list items on hover
$list-group-hover-bg:           #eaeaea !default;
//** Text color of active list items
$list-group-active-color:       #555 !default;
//** Background color of active list items
$list-group-active-bg:          #eaeaea !default;

$breadcrumb-bg:                 #fff !default;
//$breadcrumb-active-color:       red !default;