.num {color: #00b3ee; margin-left: 10px;}
.small-row {padding-top: 10px;}
.table-row {
  padding: 10px 0 10px;
  border-bottom: 1px solid #dddddd;
  height: 70px;
}
.table-row > div{
  padding-top: 10px;
}
.commodity {margin-top: -10px;}
.commodity > div{
  display:inline-table;
  vertical-align: middle;
}


